@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ثبت نام";
}
<div>
    <div class="kt-login__head">
        <h3 class="kt-login__title"> سیستم اعتبارسنجی</h3>
        <div class="kt-login__desc">برای برای بازیابی رمز حساب، اطلاعات زیر را تکمیل کنید.</div>
    </div>
    <form class="kt-form" asp-action="ResetPassword" aspi-asp-controller="ForgotPassword" method="post">
        <input asp-for="Code" type="hidden" />
        <div class="input-group">
            <input asp-for="Email" class="form-control" type="text" placeholder="ایمیل" autocomplete="off">
        </div>
        <div class="input-group">
            <input asp-for="Password" class="form-control" type="text" placeholder="ایمیل" autocomplete="off">
        </div>
        <div class="input-group">
            <input asp-for="ConfirmPassword" class="form-control" type="text" placeholder="ایمیل" autocomplete="off">
        </div>
        <div class="input-group">
            <dnt-captcha asp-captcha-generator-max="9000" asp-captcha-generator-min="1" asp-captcha-generator-language="Persian" asp-font-name="Tahoma" asp-font-size="20"
                        asp-refresh-button-class="fas fa-redo btn-sm"asp-fore-color="#333333" asp-back-color="#ccc" asp-text-box-class="text-box form-control" asp-validation-message-class="text-danger"
                        asp-text-box-template="<div class='input-group'><span class='input-group-prepend'><span class='input-group-text'><i class='fas fa-lock'></i></span></span>{0}</div>"/>
        </div>
        <div class="kt-login__actions">
            <button id="kt_login_forgot_submit" class="btn btn-brand btn-pill kt-login__btn-primary">ارسال</button>&nbsp;&nbsp;
            <button id="kt_login_forgot_cancel" class="btn btn-secondary btn-pill kt-login__btn-secondary">کنسل</button>
        </div>
    </form>
</div>

@section Scripts
{
		<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
}