@model UserViewModel
@{
    ViewData["Title"] = "کاربرجدید";
}
@section Styles
{
	<!-- <link href="~/assets/vendors/jstree/jstree.bundle.rtl.css" rel="stylesheet" type="text/css" /> -->

	<!-- <link href="~/assets/vendors/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" /> -->
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">@ViewData["Title"] <small>جدید</small></h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <a asp-action="Index" class="btn btn-clean kt-margin-r-10">
                    <i class="la la-arrow-right"></i>
                    <span class="kt-hidden-mobile">بازگشت</span>
                </a>
                <div class="btn-group">
                    <button type="button" class="btn btn-brand" id="btnSubmitForm">
                        <i class="la la-check"></i>
                        <span class="kt-hidden-mobile">ثبت</span>
                    </button>
                    <button type="button" class="btn btn-brand dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="kt-nav">
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-edit-interface-symbol-of-pencil-tool"></i>
                                    <span class="kt-nav__link-text">ذخیره و ویرایش</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-add-1"></i>
                                    <span class="kt-nav__link-text">ذخیره و جدید</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <form class="kt-form" id="formData" asp-controller="User" asp-asp-action="Add" method="post" autocomplete="off">
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-xl-8">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <h3 class="kt-section__title kt-section__title-lg">اطلاعات عمومی:</h3>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">نام‌کاربری</label>
                                    <div class="col-9">
                                        <input asp-for="Username" class="form-control" type="text">
                                        <span asp-validation-for="Username"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">نام</label>
                                    <div class="col-9">
                                        <input asp-for="FirstName" class="form-control" type="text">
                                        <span asp-validation-for="FirstName"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">نام‌خانوادگی</label>
                                    <div class="col-9">
                                        <input asp-for="LastName" class="form-control" type="text">
                                        <span asp-validation-for="LastName"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">ایمیل</label>
                                    <div class="col-9">
                                        <input asp-for="Email" class="form-control" type="text">
                                        <span asp-validation-for="Email"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">رمز</label>
                                    <div class="col-9">
                                        <input asp-for="Password" class="form-control" type="text">
                                        <span asp-validation-for="Password"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">تاییدرمز</label>
                                    <div class="col-9">
                                        <input asp-for="ConfirmPassword" class="form-control" type="text">
                                        <span asp-validation-for="ConfirmPassword"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">تاییدرمز</label>
                                    <div class="col-9">
                                        <select asp-for="RoleGuid" asp-items="Model.RolesSelectList"></select>
                                        <span asp-validation-for="RoleGuid"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                                    <label class="col-3 col-form-label">توضیحات</label>
                                    <div class="col-9">
                                        <textarea asp-for="Description" class="form-control" maxlength="500" rows="6"></textarea>
                                        <span asp-validation-for="Enable"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">فعال</label>
                                    <div class="col-9">
                                        <span class="kt-switch kt-switch--icon">
                                            <label>
                                                <input type="checkbox" asp-for="IsActive" checked="checked">
                                                <span></span>
                                            </label>
                                        </span>
                                        <span asp-validation-for="IsActive"  dir="ltr" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/assets/vendors/bootstrap-maxlength/src/bootstrap-maxlength.js" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function() {
            $("#btnSubmitForm").click(function(){
                document.getElementById('formData').submit();
            });

            $('#Description').maxlength({
                threshold: 500,
                warningClass: "kt-badge kt-badge--primary kt-badge--rounded kt-badge--inline",
                limitReachedClass: "kt-badge kt-badge--brand kt-badge--rounded kt-badge--inline",
                appendToParent: true,
                validate: true
            });
        });
    </script>
}
