<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
	<div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
		<ul class="kt-menu__nav ">
			
			<secure-content asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
				<li class="kt-menu__item " aria-haspopup="true">
					<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-layer"></i><span class="kt-menu__link-text">داشبورد</span></a>
				</li>
			</secure-content>

			<li class="kt-menu__section ">
				<h4 class="kt-menu__section-text">امکانات</h4>
				<i class="kt-menu__section-icon flaticon-more-v2"></i>
			</li>
			<li class="kt-menu__item " aria-haspopup="true">
				<a href="demo1/index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-edit"></i><span class="kt-menu__link-text">پست</span></a>
			</li>
			<li class="kt-menu__item " aria-haspopup="true">
				<a href="demo1/index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-open-box"></i><span class="kt-menu__link-text">دسته‌بندی</span></a>
			</li>
			<li class="kt-menu__item " aria-haspopup="true">
				<a href="demo1/index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-coins"></i><span class="kt-menu__link-text">تگ‌ها</span></a>
			</li>
			<li class="kt-menu__item " aria-haspopup="true">
				<a href="demo1/index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-comment"></i><span class="kt-menu__link-text">نظرات</span></a>
			</li>
			<li class="kt-menu__section ">
				<h4 class="kt-menu__section-text">ارتباط‌باما</h4>
				<i class="kt-menu__section-icon flaticon-more-v2"></i>
			</li>
			<li class="kt-menu__item " aria-haspopup="true">
				<a href="demo1/index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-businesswoman"></i><span class="kt-menu__link-text">ارتباط</span></a>
			</li>
			<li class="kt-menu__section ">
				<h4 class="kt-menu__section-text">تنظیمات</h4>
				<i class="kt-menu__section-icon flaticon-more-v2"></i>
			</li>
			
			<secure-content asp-area="Admin" asp-controller="User" asp-action="Index">
				<li class="kt-menu__item " aria-haspopup="true">
					<a asp-area="Admin" asp-controller="User" asp-action="Index" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-user"></i><span class="kt-menu__link-text">کاربران</span></a>
				</li>
			</secure-content>
			
			<secure-content asp-area="Admin" asp-controller="DynmicRole" asp-action="Index">
				<li class="kt-menu__item " aria-haspopup="true">
					<a asp-area="Admin" asp-controller="DynmicRole" asp-action="Index" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-dashboard"></i><span class="kt-menu__link-text">سطح‌دسترسی‌ها</span></a>
				</li>
			</secure-content>

			<li class="kt-menu__item " aria-haspopup="true">
				<a href="demo1/index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-settings"></i><span class="kt-menu__link-text">تنظیمات</span></a>
			</li>
			<li class="kt-menu__item " aria-haspopup="true">
				<a href="demo1/index.html" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-event-calendar-symbol"></i><span class="kt-menu__link-text">رویداد‌ها</span></a>
			</li>
		</ul>
	</div>
</div>