@model RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}
<div class="kt-login__signup">
    <div class="kt-login__head">
        <h3 class="kt-login__title"> نام</h3>
        <div class="kt-login__desc">برای ایجاد حساب، اطلاعات زیر را تکمیل کنید.</div>
    </div>
    <form class="kt-form" asp-action="Index" aspi-asp-controller="Register" method="post">
        <div class="input-group">
            <input asp-for="FirstName" class="form-control" type="text" placeholder="نام">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="LastName" class="form-control" type="text" placeholder="نام‌خانوادگی">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="Username" class="form-control" type="text" placeholder="نام کاربری">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="Email" class="form-control" type="text" placeholder="Email" autocomplete="off">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="Password" class="form-control" type="password" placeholder="رمز عبور">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="input-group">
            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="تایید رمز عبور">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="input-group">
           <dnt-captcha asp-captcha-generator-max="9000"
                                 asp-captcha-generator-min="1"
                                 asp-captcha-generator-language="Persian"
                                 asp-font-name="Tahoma"
                                 asp-font-size="20"
                                 asp-refresh-button-class="fas fa-redo btn-sm"
                                 asp-fore-color="#333333"
                                 asp-back-color="#ccc"
                                 asp-text-box-class="text-box form-control"
                                 asp-text-box-template="<div class='input-group'><span class='input-group-prepend'><span class='input-group-text'><i class='fas fa-lock'></i></span></span>{0}</div>"
                                 asp-validation-message-class="text-danger"
                                 />
        </div>
        <!-- <div class="row kt-login__extra">
            <div class="col kt-align-left">
                <label class="kt-checkbox">
                    <input type="checkbox" name="agree">I Agree the <a href="#" class="kt-link kt-login__link kt-font-bold">terms and conditions</a>.
                    <span></span>
                </label>
                <span class="form-text text-muted"></span>
            </div>
        </div> -->
        <div class="kt-login__actions">
            <button type="submit" class="btn btn-brand btn-pill kt-login__btn-primary">ثبت نام</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-secondary btn-pill kt-login__btn-secondary">کنسل</button>
        </div>
    </form>
</div>

@section Scripts
{
		<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
}